[submodule "wordcount-project"]
	path = wordcount-project
	url = https://github.com/Satvik69/wordcount-project.git
[submodule "portfolio-project"]
	path = portfolio-project
	url = https://github.com/Satvik69/portfolio-project.git
[submodule "onlineportfolio-project"]
	path = onlineportfolio-project
	url = https://github.com/Satvik69/onlineportfolio-project.git
